#map-view {
    height: 100%;
    width: 100%;
}

/* Marker dialog */
.marker-dialog {
    margin: 0;
    padding: 0;
}

#map-header {
    padding: 0;
}

/*
    Overriding #map z-index: 400
*/
#overlay {
    z-index: 10000;
}