#map-view {
    display: inline-block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

leaflet-map#template {
    position: fixed;
}

/* Marker dialog */
.marker-dialog {
    margin: 0;
    padding: 0;
}