#map-view {
    display: inline-block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

leaflet-map#template {
    position: absolute;
}